extends layout

block content
  h1= title
  p User list
  <hr>

  form(action="/user", method="post")
    input(type="text", name="username")
    input(type="submit")
  hr

  each user in users.models
    a(href='/users/')
      p= user.get('username')
